body {
    margin: 0px;
    padding: 0px;
    background-color: bisque;
}

h1 {
    color: blue;
    text-align: center;
}

header h2 {
    color: antiquewhite;
    text-align: center;
}

header h1 {
    color: rgb(8, 8, 95);
    text-align: center;
}

form {
    text-align: center;
}