<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<body>
    <header>
        <h2>Hey hii..!! I am</h2>
        <h1>{{fname}} {{lname}}</h1>
        <h2>Web Developer</h2>
    </header>
    <p>I'm a passionate web developer with a keen interest in coding.<p>
    <p>I'm always eager to learn new technologies and stay updated<p>
    <p>with the latest trends in web development.<p>
    </p>
    <h3>My favourite Web Language is {{fav_language}}</h3>
</body>
</html> 